# This is Git's per-user configuration file.
[user]
	name = Yegor Shashko
	email = yegor.shashko@gmail.com
[alias]
	st = status
	br = branch
	co = checkout
	lg = log --pretty=format:"%Cred%h\\ %Creset|\\ %Cblue%ad\\ %Creset-\\ %C(yellow)%s\\ %Creset[%Cgreen%an%Creset]" --date=short
	permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[diff]
	tool = meld
[color]
	ui = auto
