# This is Git's per-user configuration file.
[user]
	name = Yegor Shashko
	email = yegor.shashko@gmail.com
[alias]
	st = status
	br = branch
	co = checkout
	ls = log --pretty=format:"%Cred%h\\ %Creset|\\ %Cblue%ad\\ %Creset-\\ %C(yellow)%s\\ %Creset[%Cgreen%cn%Creset]" --date=short
